abt { 
	font-size: 50px;
	font-weight: italic;
  font-family: "Akaya Kanadaka";
	text-align: left;
  margin-left: 10%;
}
.abtcontainer {
  display: flex;
	justify-content:center;
}
.abtcontainer > div {
  width:40%;
	justify-content:center;
}
