abt { 
	font-size: 50px;
	font-weight: italic;
  font-family: "Akaya Kanadaka";
	text-align: left;
}
.abtcontainer {
  display: table;
	margin-left:auto;
	Margin-right:auto;
	justify-content:center;
}
.abtcontainer > div {
  width:40%;
	justify-content:center;
}
